.home-category-repo.deal-card
  > a
    height: 320px

  &:hover
    rect
      stroke: rgba(255, 255, 255, 0)

    text
      opacity: 1

  rect
    stroke: rgba(255, 255, 255, .15)
    transition: stroke $animation-speed

  text
    fill: rgba(255, 255, 255, .6)
    font: 11px 'Press Start 2P'
    opacity: 0
    transition: opacity $animation-speed

.home-category-repo,
.home-hero-repo-small
  > a
    .repo-graphic
      height: 132px

.home-hero-repo > figure
  > a:hover + figcaption
    opacity: 0

  figcaption
    transition: opacity $animation-speed

  .repo-graphic,
  .repo-graphic svg
    height: 276px
    width: 100%

.three.columns.mini-cards .home-hero-repo-small.deal-card
  > a > .repo-graphic:hover + figcaption
    opacity: 0

  figcaption
    max-height: 200px
    transition: opacity $animation-speed
