.home-category-repo,
.home-hero-repo,
.home-hero-repo-small
  rect.without-letter
    transition: stroke $animation-speed

  text
    transition: fill $animation-speed

  &:hover
    rect.without-letter
      stroke: rgba(255, 255, 255, .0)

    text.dark-background
      fill: rgba(255, 255, 255, .7)

    text.light-background
      fill: unquote('rgba(#{$groupon-green}, .7)')

.home-category-repo.deal-card
  > a
    height: 320px

.home-category-repo
  > a
    .repo-graphic
      height: 132px

.home-hero-repo
  > figure
    .repo-graphic,
    .repo-graphic svg
      height: 198px
      width: 100%

  &.mini-cards .deal-card figcaption
    position: static

.home-hero-repo-small
  > a
    .repo-graphic
      height: 77px

  .mini-cards &.deal-card figcaption
    position: static

.three.columns.mini-cards .home-hero-repo-small.deal-card
  figcaption
    max-height: 200px
