@import url(https://fonts.googleapis.com/css?family=Press+Start+2P)

.repo-graphic
  display: flex

  &:hover
    rect
      stroke: rgba(255, 255, 255, 0)

    text
      opacity: 1

  rect
    stroke: rgba(255, 255, 255, .15)
    transition: stroke $animation-speed

  text
    fill: rgba(255, 255, 255, .8)
    font: 8px 'Press Start 2P'
    opacity: 0
    transition: opacity $animation-speed
