@import url(https://fonts.googleapis.com/css?family=Press+Start+2P)

.repo-graphic
  display: flex

  rect
    // stroke: rgba(255, 255, 255, 0.15)

  text
    fill: rgba(255, 255, 255, .3)
    font: 10px 'Press Start 2P'
    text-anchor: middle
