<p class="deal-price home-repo-stats">
  <span class="home-repo-stats-stat">
    <span class="octicon octicon-star"></span>
    {{repo.stargazers_count}}
  </span>

  <span class="home-repo-stats-stat">
    <span class="octicon octicon-repo-forked"></span>
    {{repo.forks_count}}
  </span>
</p>
