<figure class="deal-card">
  <a href="{{repo.html_url}}" target="_blank">
    <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="#">
    <figcaption>
      <p class="deal-title should-truncate">
        {{repo.name}}
      </p>
      {{partial "partials/home-repo-stats"}}
    </figcaption>
  </a>
</figure>
