<section class="six columns mm-widget mini-cards">
  <figure class="deal-card hero-deal two-column-hero-deal">
    <a href="{{repo.html_url}}" target="_blank">
      <img src="https://img.grouponcdn.com/deal/4uVjBhsJPen1vgKt6T4V/76-940x570/v1/c700x420.jpg" alt="#">
    </a>
    <figcaption>
      <a href="{{repo.html_url}}" target="_blank">
        <div class="deal-info">
          <h2><p class="deal-title should-truncate">{{repo.name}}</p></h2>
          {{partial "partials/home-repo-stats"}}
          <div class="view-deal">
            <div class="btn-buy">View Project</div>
          </div>
        </div>
      </a>
    </figcaption>
  </figure>
</section>

